/* 

COLOUR PALETTE

Dark Blue Grey  #263238
Off White       #eceff1
Anchor Tags     #00acc1

There are no hover or focus states for links.

ADDITIONAL STYLES FOR ARTICLES

border: 1px solid #b0bec5;
box-shadow: 2px 2px 5px #b0bec5;

*/

:root {
    --dark-blue-grey:  #263238;
    --off-white:       #eceff1;
    --anchor-tags:     #00acc1;
}

/* Universal Styles */

body {
    color: var(--dark-blue-grey);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Typography */

h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin: 4rem auto;
}

a {
    color: var(--anchor-tags);
}

/* Main Content */
.flex-container {
    max-width: 40rem;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

article {
    border: 1px solid #b0bec5;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 5px #b0bec5;
    background: white;
    display: flex;
    flex-direction: column;
}

.card-copy {
    padding: 2rem;
}

.card-copy p {
    margin-bottom: 1rem;
}

article:first-of-type {
    grid-column: 1 / -1;
}

.flex-container img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}

article:not(:first-of-type) h2 {
    font-size: 1.2rem;
}

article:not(:first-of-type) p,
article:not(:first-of-type) a {
    font-size: 0.8rem;
}

/* Footer */

footer * {
    font-size: 0.825em;
    text-align: center;
}

footer {
    line-height: 1rem;
    margin: 10rem auto 4rem;
    padding: 0 6rem;
    white-space: nowrap;
    align-items: center;
}

/* Media Queries */

/**Media Query for medium-sized screens*/
@media screen and (min-width: 640px) and (max-width: 840px) {

  .flex-container article:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    }

  .flex-container article:first-of-type img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    display: block;
    }

  .flex-container article:first-of-type .card-copy {
    width: 50%;
    padding: 2.5rem 2rem 2.5rem 1rem;
    }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    }

  article:nth-of-type(2),
  article:nth-of-type(3) {
    width: calc(100%/2 - (1rem/2));
    }

  article:nth-of-type(2) img,
  article:nth-of-type(3) img {
      width: 100%;
      height: 280px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
    }

  .flex-container article:nth-of-type(n+4):nth-of-type(-n+9) {
    width: calc((100%/3) - (2rem/3));
  }

  .card-copy:nth-of-type(n+4):nth-of-type(-n+9) {
      padding-left: 0;
    }

}

/*Media Query for Large screen sizes*/
@media screen and (min-width: 840px) and (max-width: 1040px){
  
  .flex-container {
    max-width: 1040px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    margin: auto;
    }

  .flex-container img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    }

  article img {
      width: calc((100% / 4) - (3rem/4));
    }

  article {
      width: calc((100% / 4) - (3rem/4));
    }

  article:first-of-type {
      width: 100%;
    }

  .flex-container article:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    }

  .flex-container article:first-of-type img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    display: block;
    }

  .flex-container article:first-of-type .card-copy {
    width: 50%;
    padding: 2.5rem 2rem 2.5rem 1rem;
    }

}

/* Media Query for Largest Screen Sizes */
@media screen and (min-width: 1040px) {

  .flex-container {
    max-width: 1040px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    margin: auto;
    }

.flex-container img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  }

article img {
    width: calc((100% / 4) - (3rem/4));
  }

article {
    width: calc((100% / 4) - (3rem/4));
  }

article:first-of-type {
    width: 100%;
  }

  .flex-container article:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .flex-container article:first-of-type img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    display: block;
  }

  .flex-container article:first-of-type .card-copy {
    width: 50%;
    padding: 2.5rem 2rem 2.5rem 1rem;
  }

}
